html {
  font-family: 'Open Sans', sans-serif;
}

header {
  text-align: center;
  background-color: #404041;
  padding:  20px 0;
  }

h1 {
  font-weight: 700;
  font-size: 55px;
  color: #ED458B;
}

span {
  font-weight: 300;
  color: #E6E7E8;
}

body {
  text-align: center;
}

.inputfield {
  padding: 35px 0;
}

.inputbox {
  width: 420px;
  height: 35px;
  font-size: 26px;
  font-weight: 300;
  color: #D0D2D3;
  border: 2px solid #D0D2D3;
  font-family: 'Open Sans', sans-serif;
  padding: 4px 0 4px 10px;
  }

.inputbox:focus, input:focus{
  outline: none
}

button {
  font-family: 'Open Sans', sans-serif;
  background-color: #D0D2D3;
  border: none;
  color: #FFFFFF;
  text-align: center;
  margin: 35px 15px;
  width: 200px;
  font-size: 26px;
  font-weight: 300;
  border-radius: 20px;
}

button:hover {
  background-color: #EB008B;
  color: #FFFFFF;
  cursor: pointer;
}

.Reset {
  font-size: 20px;
  width: 420px;
}

p {
  font-size: 26px;
  color: #404041;
}

.result {
  margin: 50px 0;
}

h2 {
  color: #ED458B;
  font-size: 200px;
}
