
html {
 font-family: 'Open Sans', sans-serif;
}

header {
 text-align: center;
 background-color: #404041 ;
 padding:  5% 5%;
 }

h1 {
 font-weight: 700;
 font-size: 55px;
 color: #ED458B ;
}

p {
 font-size: 27px;
 color: #404041 ;
}

h2 {
 color: #ED458B ;
 font-size: 192px;
 margin: 10px;
}

span {
 font-weight: 300;
 color: #E6E7E8 ;
}

body {
 text-align: center;
}

button {
 font-family: 'Open Sans', sans-serif;
 background-color: #D0D2D3 ;
 border: none;
 color: #FFFFFF ;
 text-align: center;
 margin: 44px 14px 14px 14px;
 width: 196px;
 font-size: 27px;
 font-weight: 300;
 border-radius: 20px;
 outline: none;
 padding: 2px;
}

button:hover {
 background-color: #EB008B ;
 color: #FFFFFF ;
 cursor: pointer;
}

.inputfield {
 margin: 12px 0;
 padding: 35px 0;
}

.reset-btn {
 font-size: 20px;
 width: 425px;
 padding: 3px;
}

#inputbox {
 width: 263px;
 height: 34px;
 font-size: 27px;
 font-weight: 300;
 color: #D0D2D3 ;
 border: 2px solid #D0D2D3 ;
 font-family: 'Open Sans', sans-serif;
 padding: 3px 0 4px 10px;
 }

 #inputboxMin, #inputboxMax {
   width: 75px;
   height: 34px;
   font-size: 27px;
   font-weight: 300;
   color: #D0D2D3 ;
   border: 2px solid #D0D2D3 ;
   font-family: 'Open Sans', sans-serif;
   padding: 3px 0 4px 10px;
 }

#inputbox:focus, input:focus{
 outline: none
}

#textResult {
 margin-bottom: 15px;
}

#clear-btn:disabled {
 background-color: #EEE;
 cursor: default;
}

#clear-btn:disabled:hover {
 background-color: #EEE;
 cursor: default;
}

@media screen and (max-width: 500px) {
 #inputbox {display: block;
   margin: auto;
   margin-bottom: 5px;
   width: 85%;
} button {
 width: 90%;
 margin: 2% auto;
} .reset-btn {
 font-size: 27px;
 width: 90%;
} .inputdiv {
 padding-top: 5%;
 margin-bottom: 2%;
} .inputfield {
 margin-top: 10px;
 padding: 0;
} h1 {
 font-size: 225%;
} p {
 font-size: 22px;
} h2 {
 margin: 0px;
}
}
